{% extends 'base.html.twig' %}

{% block title %}Welcome to Sortir.com{% endblock %}

{% block body %}

    <div class="uk-card uk-card-default container">
        <h2 class="">Qu'est-ce que Sortir.com</h2>
        <p class="uk-text-justify uk-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus earum eos, facere ipsa iste
            maiores minus molestiae necessitatibus, officia quia sapiente sit tempora? Alias animi asperiores
            assumenda at aut consequuntur dicta dignissimos dolore eius eligendi enim eum, expedita facilis,
            fugit harum illum in incidunt inventore laborum molestiae nostrum officiis perspiciatis placeat quia
            quidem quis, quisquam quos reprehenderit sapiente similique tenetur veritatis voluptas voluptatibus.</p>
    </div>
    <hr class="uk-divider-icon">
    <div class="uk-flex-center uk-light uk-text-center">
        <h2>Accedez à votre campus</h2>
    </div>
    <div class="uk-flex-center" uk-grid>
        {% for campus in listeCampus %}
            <div class="">
                <a href=""><div class=""><button class="glass-button">{{ campus.nom }}</button></div></a>
            </div>
        {% endfor %}
    </div>


{% endblock %}
