{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{%  block body %}
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid >
        <div class="uk-card-media-left uk-cover-container">


            <img src="https://cdn-images.welcometothejungle.com/oSJLXgk9WCaClXWNy5IJzxCK9kSa2HhSu1lbnW88OAE/rs:auto:1500::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy9hcnRpY2xlL2ltYWdlLzY1OTEvMTYyNTA2L2VmZmV0LWNvY2t0YWlsLWFmdGVyd29yay0xLmpwZw" alt="" uk-cover>
            <canvas width="600" height="600"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Sortie.com vous propose d'organiser des évènements entre stagiaire</h3>

            </div>
        </div>
    </div>

    <h2>Accedez à votre campus</h2>
    <div class="uk-flex-inline uk-child-width-1-3@m uk-grid-small uk-grid-match">
    {% for ville in listeCampus %}

        <div class="">
            <div class="uk-card uk-card-default uk-card-body">
                <h2 class="uk-card-title">{{ ville.nom }}</h2>
            </div>
        </div>
    {% endfor %}
    </div>
<div class="uk-child-width-1-2@m uk-flex-center" uk-grid>
    <div>

        <div class="uk-h3"></div>

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="autoplay: true " >

            <ul class="uk-slideshow-items">
                <li>
                    <img src="https://www.sosa-paris.fr/wp-content/uploads/2019/11/afterwork.jpg" alt="" uk-cover>
                </li>
                <li>
                    <img src="https://www.adecco.fr/-/media/adeccogroup/brands/spring-professional/france/media/blog/evenement-pro.jpg?h=440&iar=0&w=700&rev=1da04eff96a54e338aeaffc11f493738&hash=1883B8DA41352F549D5141E3126FBCA4" alt="" uk-cover>
                </li>
                <li>
                    <img src="https://www.capital.fr/imgre/fit/https.3A.2F.2Fi.2Epmdstatic.2Enet.2Fcap.2F2022.2F04.2F27.2F0bd51f64-ec97-4b48-90c7-79b221c99483.2Ejpeg/768x432/background-color/ffffff/quality/70/que-faire-si-mon-chef-insiste-pour-maccompagner-en-afterwork-1436012.jpg" alt="" uk-cover>
                </li>
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

        </div>

    </div>
</div>
{% endblock %}
