{% extends 'base.html.twig' %}

{% block title %}Welcome to Sortir.com{% endblock %}

{% block body %}

    <div class="uk-card uk-card-default container">
        <h2 class="">Qu'est-ce que Sortir.com</h2>
        <p class="uk-text-justify uk-light">Ce (magnifique) site (et encore vous ne voyez pas le code qu'il y a derrière) est destiné à organiser des <em style="text-decoration: line-through">beuveries</em> sorties entre apprenants.</p>
        <p class="uk-text-justify uk-light">Ce site a été créé grâce à une symfony pour 3 claviers dont les interprètes sont Lancelot, Corentin et Arthur.</p>
    </div>
    <hr class="uk-divider-icon">
    <div class="uk-flex-center uk-light uk-text-center">
        <h2>Accedez à votre campus</h2>
    </div>
    <div class="uk-flex-center" uk-grid>
        {% for campus in listeCampus %}
            <div class="">
                <a href="{{ path('app_sortie_index') }}"><div class=""><button class="glass-button">{{ campus.nom }}</button></div></a>
            </div>
        {% endfor %}
    </div>


{% endblock %}
