{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{%  block body %}
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid uk-slideshow>
        <div class="uk-card-media-left uk-cover-container">
            <img src="https://cdn-images.welcometothejungle.com/oSJLXgk9WCaClXWNy5IJzxCK9kSa2HhSu1lbnW88OAE/rs:auto:1500::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy9hcnRpY2xlL2ltYWdlLzY1OTEvMTYyNTA2L2VmZmV0LWNvY2t0YWlsLWFmdGVyd29yay0xLmpwZw" alt="" uk-cover>
            <canvas width="600" height="600"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Sortie.com vous propose d'organiser des évènements entre stagiaire</h3>

            </div>
        </div>
    </div>


    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Nantes</h3>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Niort</h3>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Rennes</h3>
            </div>
        </div>
    </div>


{% endblock %}
