{% extends 'base.html.twig' %}

{% block title %}New Campus{% endblock %}

{% block body %}
    <h1 class="uk-text-center">Create new Campus</h1>

    <div class="container">

        {{ include('campus/_form.html.twig') }}

        <button class="glass-button" disabled><a href="{{ path('app_campus_index') }}">back to list</a></button>
    </div>
{% endblock %}
