{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block body %}
    <h1>Edit Sortie</h1>
    <div class="container">

    {{ include('sortie/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('sortie/_delete_form.html.twig') }}

    <a href="{{ path('app_sortie_index') }}">back to list</a>

    </div>
{% endblock %}
