:root{
    --primary: rgb(22, 147, 200);
    --secondary: #fe4880;
    --background-first: rgb(0, 53, 72);
    --background-second: #710022;
    --dark: #212121;
    --light: #F3F3F3;
    --transparant:rgba(255,255,255,0.3);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto;
    height: auto;
    width: auto;
    color: black;
    z-index: 9999;
    font-family: montserrat, sans-serif;
    background-image: linear-gradient(to bottom right, var(--background-first), var(--background-second));
;
}
main{
    margin: 2rem;
}
.glass-panel, .container {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    margin: 2rem;
    padding: 2rem 6rem;
    height: auto;
    border-radius: 20px;
    border-left: 1px solid var(--transparant);
    border-top: 1px solid var(--transparant);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    transition: all 0.2s ease-in-out;
    justify-content: center;
}
.glass-button {
    display: inline-block;
    min-height: 50px;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1em;
}
.glass-button:hover {
    background-color: rgba(255,255,255,0.2);
}
.input {
    text-align: center;
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid var(--transparant);
    border-top: 1px solid var(--transparant);
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    outline-color: transparent;
}
.navbar{
    border-bottom: 2px solid var(--transparant);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
}
.footer {
    border-top: 2px solid var(--transparant);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
}
a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}
a:hover {color:white}

.divTable{
    display: table;
    width: auto;
}
.divTableRow {
    display: table-row;
    justify-content: space-between;
}
.divTableCell, .divTableHead {
    display: table-cell;
    padding: 8px;
    margin: 5em;
}
.divTableBody {
    display: table-row-group;
}