:root{
    --primary: rgb(22, 147, 200);
    --secondary: #fe4880;
    --background-first: rgb(0, 53, 72);
    --background-second: #710022;
    --dark: #212121;
    --light: #F3F3F3;
    --transparant:rgba(255,255,255,0.3);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto;
    height: auto;
    width: auto;
    color: black;
    z-index: 9999;
    font-family: montserrat, sans-serif;
    background-image: linear-gradient(to bottom right, var(--background-first), var(--background-second));
;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 10px;
}
::-webkit-scrollbar-corner{

}

body{
    width: 100%;
    min-height: 100vh;
}
main{
    margin: 2rem;
}
.plus-button {
    border: 2px solid lightgrey;
    background-color: #fff;
    font-size: 16px;
    height: 2.5em;
    width: 2.5em;
    border-radius: 999px;
    position: relative;
}
.plus-button:after, .plus-button:before{
    content: "";
    display: block;
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.plus-button:before{
    height: 1em;
    width: 0.2em;
}
.plus-button:after{
    height: 0.2em;
    width: 1em;
}
.glass-panel, .container {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    margin: 2rem;
    padding: 2rem 6rem;
    height: auto;
    border-radius: 20px;
    border-left: 1px solid var(--transparant);
    border-top: 1px solid var(--transparant);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    transition: all 0.2s ease-in-out;
    justify-content: center;
}
.glass-button {
    display: inline-block;
    min-height: 50px;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 1rem;
    margin: 1rem;
}
.glass-button:hover {
    background-color: rgba(255,255,255,0.2);
}
.input {
    text-align: center;
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid var(--transparant);
    border-top: 1px solid var(--transparant);
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    outline-color: transparent;
}
.navbar{
    border-bottom: 2px solid var(--transparant);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
}
.footer {
    border-top: 2px solid var(--transparant);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
}
a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}
a:hover {color:white}

.divTable{
    display: table;
    width: auto;
}
.divTableRow {
    display: table-row;
    justify-content: space-between;
}
.divTableCell, .divTableHead {
    display: table-cell;
    padding: 8px;
    margin: 5em;
}
.divTableBody {
    display: table-row-group;
}
.card {
    margin: 1rem;
    width: 350px;
    height: 500px;
    perspective: 1000px;

}
.card__inner {

    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card:hover .card__inner{
    transform: rotateY(180deg);
    z-index: 9999;
}
.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 3px 18px 3px rgba(0, 0, 0, 0.2);
}
.card__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__face--front h2 {
    color: #FFF;
    font-size: 32px;
}
.card__face--back {
    background-color: var(--dark);
    transform: rotateY(180deg);

}
.card__content {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.card__header {
    position: relative;
    padding: 30px 30px 40px;
}
.card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom right, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0 0 50% 0;
}
.pp {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
}
.card__header h2 {
    color: #FFF;
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
.card__body {
    padding: 20px;
    overflow: auto;
}
.card__body h3 {
    color: var(--light);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.card__body p {
    color: var(--light);
    font-size: 15px;
    line-height: 1.4;
}